services:
  dev:
    container_name: nodejs-api-dev
    build:
      context: .
      target: development
      args:
        PORT: ${PORT:-3000}
    env_file:
      - .env.dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
    restart: unless-stopped
    networks:
      - nodejs-rest-api-network

  prod:
    container_name: nodejs-api-prod
    build:
      context: .
      target: production
      args:
        PORT: ${PORT:-3000}
    env_file:
      - .env.prod
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
    restart: unless-stopped
    networks:
      - nodejs-rest-api-network

networks:
  nodejs-rest-api-network:
    driver: bridge